{% extends 'page.html.twig' %}

{% block title %}Log In{% endblock %}

{% block content %}

{% for flash_message in app.session.flashBag.get('flash_msg') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
	<br />
{% endfor %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div>
        {{ form_label(form._username) }}
	</div><div>
        {{ form_errors(form._username) }}
	</div><div>
		{{ form_widget(form._username, {'attr': {'class': 'form-control'}}) }}
    </div>
	<br />
    <div>
        {{ form_label(form._password) }}
	</div><div>
        {{ form_errors(form._password) }}
	</div><div>
		{{ form_widget(form._password, {'attr': {'class': 'form-control', 'name': '_password'}}) }}
    </div>
	<br />
	
    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >
	
	<input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}" />
	
    <div>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-info btn-block'}}) }}
    </div>
{{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:LatestPosts:posts')) }}
    {{ render(controller('AppBundle:Categories:categories')) }}
	{{ render(controller('AppBundle:AboutWidget:about')) }}
{% endblock %}