{% extends 'page.html.twig' %}

{% block title %}Welcome to Symfony blog!{% endblock %}

{% block content %}
	<h1>{{ post.naslov }}</h1>
	<p>{{ post.sadrzaj }}</p>
<br />

{% if komentari is empty %}
	<h3>No comments yet! Be the first to comment!</h3>
	<br />
{% else %}
	<h3>Comments</h3>
	<br />
	{% for komentar in komentari %}
	<h4>{{ komentar.ime }}</h4>
	<p>{{ komentar.komentar }}</p>
	<hr />
	{% endfor %}
	<br />
{% endif %}

{% if app.user %}

<h3>Leave your comment</h3>
<br />

{% for flash_message in app.session.flashBag.get('flash_msg') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
	<br />
{% endfor %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div>
        {{ form_label(form.ime) }}
	</div><div>
        {{ form_errors(form.ime) }}
	</div><div>
		{% if form_errors(form.ime) %}
			{{ form_widget(form.ime, {'attr': {'class': 'form-control is-invalid',
			'value': app.user.username}}) }}
		{% else %}
			{{ form_widget(form.ime, {'attr': {'class': 'form-control',
			'value': app.user.username}}) }}
		{% endif %}
    </div>
	<br />
    <div>
        {{ form_label(form.email) }}
	</div><div>
        {{ form_errors(form.email) }}
	</div><div>
		{% if form_errors(form.email) %}
			{{ form_widget(form.email, {'attr': {'class': 'form-control is-invalid',
			'value': app.user.email}}) }}
		{% else %}
			{{ form_widget(form.email, {'attr': {'class': 'form-control',
			'value': app.user.email}}) }}
		{% endif %}
    </div>
	<br />
    <div>
        {{ form_label(form.komentar) }}
	</div><div>
        {{ form_errors(form.komentar) }}
	</div><div>
		{% if form_errors(form.komentar) %}
			{{ form_widget(form.komentar, {'attr': {'class': 'form-control is-invalid', 'rows': '8'}}) }}
		{% else %}
			{{ form_widget(form.komentar, {'attr': {'class': 'form-control', 'rows': '8'}}) }}
		{% endif %}
    </div>
	<br />
    <div>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-info btn-block'}}) }}
    </div>
{{ form_end(form) }}
{% else %}
	<h3>Please log in to comment!</h3>
{% endif %}
{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:LatestPosts:posts')) }}
    {{ render(controller('AppBundle:Categories:categories')) }}
	{{ render(controller('AppBundle:AboutWidget:about')) }}
{% endblock %}