{% extends 'admin/page.html.twig' %}

{% block title %}Add new post{% endblock %}

{% block content %}

{% if form.category is not empty %}

{% for flash_message in app.session.flashBag.get('flash_msg') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
	<br />
{% endfor %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div>
        {{ form_label(form.naslov) }}
	</div><div>
        {{ form_errors(form.naslov) }}
	</div><div>
		{% if form_errors(form.naslov) %}
			{{ form_widget(form.naslov, {'attr': {'class': 'form-control is-invalid'}}) }}
		{% else %}
			{{ form_widget(form.naslov, {'attr': {'class': 'form-control'}}) }}
		{% endif %}
    </div>
	<br />
    <div>
        {{ form_label(form.sadrzaj) }}
	</div><div>
        {{ form_errors(form.sadrzaj) }}
	</div><div>
		{% if form_errors(form.sadrzaj) %}
			{{ form_widget(form.sadrzaj, {'attr': {'class': 'form-control is-invalid', 'rows': '8'}}) }}
		{% else %}
			{{ form_widget(form.sadrzaj, {'attr': {'class': 'form-control', 'rows': '8'}}) }}
		{% endif %}
    </div>
	<br />
	<p>Select categories</p>
	{{ form_errors(form) }}
	<div>
	{% for cat in form.category %}
		<p>{{form_label(cat)}}: {{form_widget(cat)}}</p>
	{% endfor %}
	</div>
    <div>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-info btn-block'}}) }}
    </div>
{{ form_end(form) }}

{% endif %}

{% endblock %}

{% block sidebar %}
<h2>Add new post</h2>
<p>This form is used to add new posts to the blog.</p>
{% endblock %}