{% extends 'admin/page.html.twig' %}

{% block title %}List of posts!{% endblock %}

{% block content %}
{% if posts is empty %}
	<h2>Blog is empty!</h2>
{% else %}
	{% for post in posts %}
		<h1>{{ post.naslov }}</h1>
		<br />
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<a class="btn btn-info btn-block" href="
					{{ path('edit_post', {'id': post.id}) }}">Edit post</a>
				</div>
				<div class="col-sm mt-3 mt-sm-0">
					<a class="btn btn-info btn-block" href="
					{{ path('delete_post', {'id': post.id}) }}">Delete post</a>
				</div>
			</div>
		</div>
		<hr />
		<br />
	{% endfor %}
	
	<ul class="pagination">
		{% if prev != 0 %}
		<li class="page-item">
			<a class="page-link" href="{{ prev == 1 ? path('admin') :
			path('admin_posts_page', {'page': prev}) }}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			</a>
		</li>
		{% endif %}
		{% if l1 != 0 %}
		<li class="page-item {{active=='l1'?'active':''}}">
			<a class="page-link" href="{{l1 == 1 ? path('admin') :
			path('admin_posts_page', {'page': l1}) }}">{{l1}}</a>
		</li>
		{% endif %}
		{% if l2 != 0 %}
		<li class="page-item {{active=='l2'?'active':''}}">
			<a class="page-link" href="{{ path('admin_posts_page', {'page': l2}) }}">{{l2}}</a>
		</li>
		{% endif %}
		{% if l3 != 0 %}
		<li class="page-item {{active=='l3'?'active':''}}">
			<a class="page-link" href="{{ path('admin_posts_page', {'page': l3}) }}">{{l3}}</a>
		</li>
		{% endif %}
		{% if next != 0 %}
		<li class="page-item">
			<a class="page-link" href="{{ path('admin_posts_page', {'page': next}) }}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			</a>
		</li>
		{% endif %}
	</ul>
{% endif %}
{% endblock %}

{% block sidebar %}
<h2>List of posts</h2>
<p>List of every blog post on this blog is shown here. You can choose to edit or delete blog post.</p>
{% endblock %}